.Botao {
  border: 1px solid var(--preto);
  padding: 0.25rem 0.75rem;
  color: var(--cinza);
  cursor: pointer;
}

.Botao[tipo="primario"] {
  background: var(--primario);
}

.Botao[tipo="secundario"] {
  background: var(--secundario);
}
